<div class="nes-container with-title is-centered button-actions">
  <p class="title">Menu</p>
  <%=link_to "slap", pingochi_slap_path(@pingochi), id: "sweet-alert-slap" , class: "nes-btn is-warning", method: :patch%>
  <%=link_to "feed", pingochi_feed_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <%=link_to "sleep", pingochi_sleep_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <%=link_to "Market", pingochi_items_path(@pingochi), class: "nes-btn is-warning"%>
  <%=link_to "fish", pingochi_fish_path(@pingochi), class: "nes-btn is-warning", method: :patch%>
  <button id="sweet-alert-demo" class="btn btn-primary nes-btn is-warning">Test!</button>

</div>
