<div data-refresh-pingochi-list-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize pingochis.count, 'pingochi' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize pingochis.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="pingochis">
    <div class="cards">
      <% @pingochis.each do |pingochi|  %>
        <div class="card-pingochi nes-container">
          <div class="pingochi-img">
            <%=image_tag "#{pingochi.specie.downcase.gsub(' ','-')}.jpg", class: "card-pingochi-user avatar-bordered"%>
          </div>
          <div class="card-pingochi-infos">
            <div>
              <h2><%= link_to "#{pingochi.name}", pingochi_path(pingochi) %></h2>
              <p><%= pingochi.gender %></p>
              <p><%= pingochi.age %></p>
              <p><%= pingochi.specie %></p>
            </div>
            <p class="card-pingochi-user-nickname"><%= pingochi.user.nick_name %></p>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-pingochi-user avatar-bordered" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
