<div class="nes-container with-title ">
  <p class="title">Pingochi Status</p>
    <p>Age: <%=@pingochi.age%></p>
    <p>Energy:</p>
      <% if @pingochi.energy >= 80  %>
        <progress class="nes-progress is-primary" value=<%=@pingochi.energy%> max="100"></progress>
      <% elsif @pingochi.energy.between?(50, 70)  %>
        <progress class="nes-progress is-success" value=<%=@pingochi.energy%> max="100"></progress>
      <% elsif @pingochi.energy.between?(20, 40)  %>
        <progress class="nes-progress is-warning" value=<%=@pingochi.energy%> max="100"></progress>
      <% elsif @pingochi.energy.between?(0, 10)  %>
        <progress class="nes-progress is-error" value=<%=@pingochi.energy%> max="100"></progress>
      <% end %>

    <p>Sleeping: <%=@pingochi.sleep?%></p>
    <% if @pingochi.slept_at != nil %>
      <p>Last Sleep: <%=@pingochi.slept_at.strftime("%m-%e-%y %H:%M")%></p>
    <% else %>
      <p>Last Sleep: <%=@pingochi.slept_at%></p>
    <% end %>

    <p>UTI now?: <%=@pingochi.uti?%></p>
    <% if @pingochi.uti_at != nil %>
      <p>Last UTI: <%=@pingochi.uti_at.strftime("%m-%e-%y %H:%M")%></p>
    <% else %>
      <p>Last UTI: <%=@pingochi.uti_at%></p>
    <% end %>
</div>
