<div data-refresh-pingochi-list-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize pingochis.count, 'pingochi' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize pingochis.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="pingochis">
    <div class="cards">
      <% if @pingochis.empty? %>
      <% else %>
        <% @pingochis.each do |pingochi|  %>
          <div class="card-pingochi nes-container">
            <div class="card-pingochi-infos">
              <div>
                <h2><%= link_to "#{pingochi.name}", pingochi_path(pingochi) %></h2>
                <p><%= pingochi.gender %></p>
                <p><%= pingochi.age %></p>
              <div class="card-pingochi-bottom">

                <p><%= pingochi.specie %></p>
                <p class="card-pingochi-user-nickname"><%= pingochi.user.nick_name %></p>
              <% if pingochi.user.photo.present? %>
                <%= cl_image_tag pingochi.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <a class="navbar-brand" href="#" data-toggle="dropdown">
                  <%= image_tag "penguin-user-image.png", height: 40, width: 40, crop: :fill %>
                </a>
              <% end %>
              </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
