<div class="nes-container with-title ">
  <p class="title">Pingochi Status</p>
    <p>Age: <%=@pingochi.age%></p>
    <p>Energy:</p>
      <progress class="nes-progress is-primary" value=<%=@pingochi.energy%> max="100"></progress>
    <p>Live: <%=@pingochi.live%></p>
    <p>Slepping: <%=@pingochi.sleep?%></p>
    <p>Last Sleep: <%=@pingochi.slept_at%></p>
    <p>UTI now?: <%=@pingochi.uti?%></p>
    <p>Last UTI: <%=@pingochi.uti_at%></p>
</div>
