
<div class="banner">
  <div class="container">
    <h1>Pingochi</h1>
    <p>Change your life! Learn how to create and care for a new pet!</p>
  </div>
  <%= image_tag "pingochi_run.gif", class: "penguin-image-banner" %>
  </div>

<p>users:<%= @users %></p>
<p>total_fishcoins:<%= @total_fishcoins %></p>
<p>fishcoins_to_currency:<%= @fishcoins_to_currency %></p>

<section class="features-icons bg-light text-center home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div>
                      <%= image_tag "money_art.png", class: "features-icons-icon" %>
                    </div>
                    <h3>Earn to Play</h3>
                    <p class=" mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div>
                      <%= image_tag "ethereum_coin.png", class: "features-icons-icon" %>
                    </div>
                    <h3>NFT</h3>
                    <p class=" mb-0">Featuring the latest build of the new Bootstrap 5 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div>
                      <%= image_tag "penguin_pixel.png", class: "features-icons-icon" %>
                    </div>
                    <h3>Penguins</h3>
                    <p class=" mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container home-section">
  <div class="home-header">
    <h1>About the game</h1>
  </div>
  <p>Penguins are awesome animals! Not only they have complex social relationships, they can also prove very profitable!</p>
  <p>Learn how to raise penguins and earn small fortunes with our NFT powered by Ethereum!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<div class="container home-section">
  <div class=home-header-2>
    <h1>How it works</h1>
  </div>
  <p>First of all, sing up! And choose a penguin specimen, give it a creative nickname and take good care of it to see it grow.</p>
  <p>Just like us, they need to meet their basic needs in order to survive and develop. So keep an eye on your Pingochi's health and perform tasks like fishing, feeding, resting, and specially having fun!</p>
  <p>Each activity you complete allows you to accumulate points, that can be converted into Fishcoins - the money of
  the future! Descentralized, far from any greedy government reach and tax-free!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<div class="container home-section">
  <div class=home-header-2>
    <h1>Manual</h1>
  </div>
  <p>Sing up! And choose a penguin specimen, give it a good name and take care like a baby.</p>
  <p>You should take care some obligations like feeding, rest, have some fun and teach fishing.</p>
  <p>Each activity you developed allows you to accumulate points, that can be converted into Fishcoins!
  The money of the future! Descentralized, protected from governments and tax-free!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<section class="text-center bg-light home-section">
    <div class="container">
        <h2 class="mb-5">The Team</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/vinicius.png", class: "avatar-home-dev rounded-circle mb-3"  %>
                  <h5>Vinicius</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/bianca.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Bianca</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/bernardo.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Bernardo</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/valle.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Valle</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container home-section">
  <div class=home-header-3>
    <h1>Join the Pingochi lifestyle and make the best of a New Free World!</h1>
    <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
  </div>
</div>
