
<div class="banner">
  <div class="container">
    <h1>Pingochi</h1>
    <p>Change your life! Learn how to create and care for a new pet!</p>
  </div>
  <%= image_tag "pingochi_run.gif", class: "penguin-image-banner" %>
</div>

<section class="features-icons bg-light text-center home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class= "mb-4">
                      <%= image_tag "money_art.png", class: "features-icons-icon" %>
                    </div>
                    <h3>Play to Earn</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class= "mb-4">
                      <%= image_tag "ethereum_coin.png", class: "features-icons-icon" %>
                    </div>
                    <h3>NFT</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class= "mb-4">
                      <%= image_tag "penguin_pixel.png", class: "features-icons-icon" %>
                    </div>
                    <h3>Penguins</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container home-section">
  <div class="home-header">
    <h1>About the game</h1>
  </div>
  <p>Penguins are awesome animals! Not only they have complex social relationships, they can also prove very profitable!</p>
  <p>Learn how to raise penguins and earn small fortunes with our NFT powered by Ethereum!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<div class="container home-section">
  <div class=home-header>
    <h1>How it works</h1>
  </div>
  <p>First of all, sign up! And choose a penguin specie, give it a creative nickname and take good care of it to see it grow.</p>
  <p>Just like us, they need to meet their basic needs in order to survive and develop. So keep an eye on your Pingochi's health and perform tasks like fishing, feeding, resting, and specially having fun!</p>
  <p>Each activity you complete allows you to accumulate points, that can be converted into Fishcoins - the money of
  future! Descentralized, far from any greedy government reach and tax-free!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<div class="container home-section">
  <div class="home-header"></div>
    <div class="d-flex">
      <div class= "p-5 m-3'">
        <div>Pingochi</div>
        <div>Statistics</div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="text-center p-5 m-3 rounded shadow d-flex justify-content-center align-items-center users-card">
          <div>
            <div>Users</div>
            <div><%= @users %></div>
          </div>
        </div>

        <div class="text-center p-5 m-3 rounded shadow d-flex justify-content-center align-items-center fishcoin-card">
          <div>
            <div class="text-wrap">Fishcoins</div>
            <div>Mined</div>
            <div><%= @total_fishcoins %></div>
          </div>
        </div>

        <div class="text-center p-5 m-3 rounded shadow d-flex justify-content-center align-items-center fishcoin_marketcap-card">
          <div>
            <div>Fishcoins</div>
            <div>Marketcap</div>
            <div><%= @fishcoins_to_currency %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container home-section">
  <div class=home-header>
    <h1>Manual</h1>
  </div>
  <p>After creating your account, be free to login and choose a nice nickname to your pingochi and a specie that you identify the most!</p>
  <p>There are some activities that you can play and have fun with your new friend like fishing, sleeping, mating, and also buy some items on the market with the fishcoins!</p>
  <p>Now it's just playguin and have fun !!!</p>
  <%= link_to "Create Now", new_pingochi_path, class: "nes-btn is-primary" %>
</div>

<section class="text-center bg-light home-section">
    <div class="container home-header">
        <h1 class="mb-4">The Team</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/vinicius.png", class: "avatar-home-dev rounded-circle mb-3"  %>
                  <h5>Vinicius</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/bianca.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Bianca</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/bernardo.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Bernardo</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                  <%= image_tag "team/valle.png", class: "avatar-home-dev rounded-circle mb-3" %>
                  <h5>Valle</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container home-section">
  <div class=home-header>
    <h3>This project was proudly made by the students of batch #688 of the Le Wagon Full Stack Bootcamp with the help of the amazing teachers!</h3>
    <%= image_tag "lewagon_logo.png", size: "50" %>
  </div>
</div>
