<div class="container" id="new-battle">

  New Battle
  <h1><%= @pingochi1.name %> X <%= @pingochi2.name %></h1>
  <div class="row">
    <div class="col">
      <div class="nes-container with-title">
        <p class="title"><%= @pingochi1.name %></p>
        <p>Specie: <%=@pingochi1.specie%></p>
        <p>Strength: <%=@pingochi1.strength_skill%>xp</p>
        <p>Speed: <%=@pingochi1.speed_skill%>xp</p>
        <p>Inteligence: <%=@pingochi1.inteligence_skill%>xp</p>
      </div>
    </div>
    <div class="col">
      <div class="nes-container is-centered">
        <%= image_tag "pingochi_peck_left.gif" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="nes-container is-centered">
        <%= image_tag "pingochi_peck.gif" %>
      </div>
    </div>
    <div class="col">
      <div class="nes-container with-title">
        <p class="title"><%= @pingochi2.name %></p>
        <p>Specie: <%=@pingochi2.specie%></p>
        <p>Strength: <%=@pingochi2.strength_skill%>xp</p>
        <p>Speed: <%=@pingochi2.speed_skill%>xp</p>
        <p>Inteligence: <%=@pingochi2.inteligence_skill%>xp</p>
      </div>
    </div>
  </div>

  <div class="row">
    <button id="btn-fight" class="nes-btn is-error">Fight!</button>
    <%= link_to "Fight!", pingochi_opponent_battles_path(@pingochi1, @pingochi2), id: "create-battle-btn", class: "d-none", method: "post" %>
  </div>
</div>

  <div id="fight" class="d-none">
    <%= image_tag "penguin_fight.gif", size: "100%"  %>
  </div>
