<div class="container">
  <div class="pingochis">
    <div class="cards">

      <% @couple_pingochis.each do |couple_pingochi|  %>
        <div class="card-pingochi nes-container">
          <div class="card-pingochi-infos">

            <div>
              <h2><%= link_to "#{couple_pingochi.name}", new_pingochi_couple_mating_path(@pingochi, couple_pingochi) %></h2>
              <p><%= couple_pingochi.gender %></p>
              <p><%= couple_pingochi.age %></p>
              <p><%= couple_pingochi.specie %></p>
            </div>

            <p class="card-pingochi-user-nickname"><%= couple_pingochi.user.nick_name %></p>
              <% if couple_pingochi.user.photo.present? %>
                <%= cl_image_tag couple_pingochi.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <a class="navbar-brand" href="#" data-toggle="dropdown">
                  <%= image_tag "penguin-user-image.png", height: 40, width: 40, crop: :fill %>
                </a>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
