<div class="container">
  <div data-controller="refresh-pingochi-list">
    <%= form_with url: pingochis_path, method: :get, html: { class: 'mb-5', data: { refresh_pingochi_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                       class: "form-control",
                       placeholder: 'Type pingochi name here',
                       value: params[:query],
                       data: {
                        refresh_pingochi_list_target: 'searchInput',
                        action: "keyup->refresh-pingochi-list#update"
                      } %>
    <% end %>

    <%= form_with url: pingochis_path, method: :get, html: { class: 'mb-5', data: { refresh_pingochi_list_target: 'form' } } do |f| %>
      <%= f.select :gender, [["male", "male"], ["female", "female"], ["",""]], selected: "",
                    data: {
                      refresh_pingochi_list_target: 'searchInput',
                      action: "change->refresh-pingochi-list#update"
                      } %>
    <% end %>

    <%= render "shared/pingochi_list", pingochis: @pingochis %>
  </div>
</div>
