<div class="container">
  <h1>Create your Pingochi</h1>

  <%= simple_form_for @pingochi do |f| %>
    <%= f.input :name, wrapper_html: { class: 'name' }, required: true %>

      <div class="row">
        <div class="flex-container text-center">
          <% Pingochi::SPECIES.each do |specie|%>
            <div class="col-4 species align-center" data-specie="<%=specie%>">
              <p> <%= specie %> </p>
              <%=image_tag "#{specie.downcase.gsub(' ','-')}.jpg", class: "pingochi-avatar"%>
            </div>
          <% end %>
        </div>
      </div>

    <%=f.input :specie, as: :hidden%>
    <%= f.button :submit, class: "btn btn-primary", id: "load-pingochi" %>
    <%end%>
</div>
