<div class="container">
  <div class="pingochis">
    <div class="cards">
      <% @opponent_pingochis.each do |opponent_pingochi|  %>
        <div class="card-pingochi nes-container">
          <div class="card-pingochi-infos">
            <div>
              <h2><%= link_to "#{opponent_pingochi.name}", new_pingochi_opponent_battle_path(@pingochi, opponent_pingochi) %></h2>
              <p><%= opponent_pingochi.gender %></p>
              <p><%= opponent_pingochi.age %></p>
              <p><%= opponent_pingochi.specie %></p>
            </div>
            <p class="card-pingochi-user-nickname"><%= opponent_pingochi.user.nick_name %></p>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "card-pingochi-user avatar-bordered" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
