
<div class="container" style = 'margin-top:20px'>
  <div class="row">

    <div class="col-3">
      <div>
        <%= render 'shared/menu_actions' %>
      </div>
      <div style = "margin-top:20px">
        <%= render 'shared/menu_skills' %>
      </div>
    </div>

    <div class="col-4">
      <div>
        <%= render 'shared/pingochi_animation' %>
      </div>
      <div style = 'margin-top:20px'>
        <%= render 'shared/pingochi_inventory' %>
      </div>
    </div>

    <div class="col-5">
      <div>
        <%= render 'shared/pingochi_info' %>
      </div>
      <div style = "margin-top:20px">
        <%= render 'shared/pingochi_status' %>
      </div>
      <div style = "margin-top:20px">
        <%= render 'shared/pingochi_skill_status' %>
      </div>
    </div>

  </div>
</div>
